<div class="row">
  <div class="col-md-6 new-user-alert">
    <div *ngIf="brandNew" class="alert alert-success" role="alert">
      <strong>All set!</strong> Please login with your account
    </div>
    <h2>Login</h2>
  </div>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>LogIn</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="login()">
        <mat-card-content>
            
                <mat-form-field class="fullWidth">
                    <input formControlName="email" type="email" name="Email" matInput placeholder="Email" >
                </mat-form-field>

                <mat-form-field class="fullWidth">
                        <input formControlName="password" type="password" name="Password" matInput placeholder="Passwod" >
                </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!form.valid">login</button>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </mat-card-actions>

        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div> 
    </form>
</mat-card>
