
<mat-card>
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-card-content>

        <mat-form-field class="fullWidth">
          <input formControlName="email" type="email" name="Email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input formControlName="firstName" name="FirstName" matInput placeholder="FirstName">
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input formControlName="lastName" name="LastName" matInput placeholder="LastName">
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input formControlName="location" name="Location" matInput placeholder="Location">
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input formControlName="password" type="password" name="Password" matInput placeholder="Passwod">
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input formControlName="confirmPassword" type="password" name="Confirm Password" matInput placeholder="Confirm Passwod">
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!form.valid || isRequesting">register</button>
        <app-spinner [isRunning]="isRequesting"></app-spinner>
      </mat-card-actions>

      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>

    </form>
</mat-card>
